Repository streamnative/kop, pull requests merged in 2022-06, with the labels that each got.

#1321 Fix erlang kafka-client kafka4beam/brod fetch request failed
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KafkaRequestHandler.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/BasicEndToEndKafkaTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/BasicEndToEndTestBase.java
Labels: type/bug, release/2.10.0, release/2.9.2, no-need-doc, release/2.8.3

#1319 [Test] Fix failed to read all entries after broker restarted
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/KopProtocolHandlerTestBase.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/format/KafkaMixedEntryFormatterTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/format/KafkaV1EntryFormatterTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/format/PulsarEntryFormatterTest.java
Labels: area/test, no-need-doc

#1303 Schema Registry - initial port
  .github/workflows/pr-tests.yml
  kafka-impl/pom.xml
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KafkaProtocolHandler.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KafkaServiceConfiguration.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/SchemaRegistryManager.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/utils/MetadataUtils.java
  kafka-impl/src/test/java/io/streamnative/pulsar/handlers/kop/utils/MetadataUtilsTest.java
  pom.xml
  schema-registry/README.md
  schema-registry/pom.xml
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/DummyOptionsCORSProcessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/HttpJsonRequestProcessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/HttpRequestProcessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/SchemaRegistryChannelInitializer.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/SchemaRegistryHandler.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/SchemaRegistryRequestAuthenticator.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/CompatibilityChecker.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/Schema.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/SchemaStorage.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/SchemaStorageAccessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/MemorySchemaStorage.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/MemorySchemaStorageAccessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/PulsarSchemaStorage.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/PulsarSchemaStorageAccessor.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/SchemaStorageException.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/package-info.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/package-info.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/package-info.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/AbstractResource.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/CompatibilityResource.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/ConfigResource.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/SchemaResource.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/SubjectResource.java
  schema-registry/src/main/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/package-info.java
  schema-registry/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/SchemaRegistryHandlerTest.java
  schema-registry/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/SimpleAPIServer.java
  schema-registry/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/CompatibilityCheckerTest.java
  schema-registry/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/resources/SchemaResourceTest.java
  schema-registry/src/test/resources/log4j2.xml
  tests/pom.xml
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/KafkaAuthorizationTestBase.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/KopProtocolHandlerTestBase.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/SchemaRegistryTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/MemorySchemaStorageTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/PulsarSchemaStorageTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/SchemaStorageTestsBase.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/schemaregistry/model/impl/package-info.java
Labels: type/feature, doc-required

#1313 Wrap the sasl response token body with the correct method
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/security/SaslAuthenticator.java
  kafka-impl/src/test/java/io/streamnative/pulsar/handlers/kop/security/SaslAuthenticatorTest.java
Labels: no-need-doc

#1335 Fixing linkrot in implementation.md
  docs/implementation.md
Labels: doc, release/2.10.0, release/2.9.2, release/2.8.3

#1334 Fix metrics description
  docs/reference-metrics.md
Labels: doc, release/2.10.0, release/2.9.2, release/2.8.3

#1339 [Test] Fix test cert expired
  tests/src/test/resources/ssl/certificate/broker.keystore.jks
  tests/src/test/resources/ssl/certificate/broker.truststore.jks
  tests/src/test/resources/ssl/certificate/client.keystore.jks
  tests/src/test/resources/ssl/certificate/client.truststore.jks
  tests/src/test/resources/ssl/certificate2/client.truststore.jks
  tests/src/test/resources/ssl/certificate2/server.keystore.jks
  tests/src/test/resources/ssl/certificate2/server.truststore.jks
Labels: area/test, release/2.10.0, release/2.9.2, no-need-doc, release/2.8.3

#1331 Add tests for KTable
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/streams/KTableTest.java
Labels: area/test, release/2.10.0, release/2.9.2, no-need-doc, release/2.8.3
