Repository streamnative/kop, pull requests merged in 2022-08, with the labels that each got.

#1441 [Bugfix] Fix incorrect publish latency unit
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/MessagePublishContext.java
Labels: type/bug, release/2.10.0, no-need-doc, release/2.8.3, release/2.9.3

#1443 [Transaction] Return INVALID_PRODUCER_EPOCH error when the transaction produces epoch fence happened
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/coordinator/transaction/TransactionCoordinator.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/coordinator/transaction/TransactionMetadata.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/coordinator/transaction/TransactionCoordinatorTest.java
Labels: no-need-doc, release/2.8.3, release/2.10.1, area/transaction, release/2.9.3, release/2.11

#1440 Add a new metric PENDING_TOPIC_LATENCY and record PRODUCE_ENCODE accurately
  docs/reference-metrics.md
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KopServerStats.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/RequestStats.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/storage/PartitionLog.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/MetricsProviderTest.java
Labels: doc-required, release/2.8.3, release/2.10.1, release/2.9.3, release/2.11

#1450 [Test] Fix unit test in JDK 17 env
  pom.xml
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/KafkaListenerNameTest.java
Labels: area/test, no-need-doc

#1460 [Docs] - The KoP metrics are exposed at port 8080, not 8000
  docs/reference-metrics.md
Labels: doc

#1462 [feature] Support disable group-level consumer metrics
  docs/configuration.md
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KafkaRequestHandler.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/KafkaServiceConfiguration.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/MessageFetchContext.java
  kafka-impl/src/main/java/io/streamnative/pulsar/handlers/kop/format/DecodeResult.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/MetricsProviderTest.java
  tests/src/test/java/io/streamnative/pulsar/handlers/kop/MetricsProviderWithDisableGroupLevelConsumerMetricsTest.java
Labels: type/feature, doc-required, release/2.8.3, release/2.10.1, release/2.9.3, release/2.11

#1466 Avoid lombok usages in interfaces for JavaDoc plugin
  .github/workflows/pr-tests.yml
  kafka-client-api/src/main/java/io/streamnative/kafka/client/api/ProduceContext.java
  pom.xml
Labels: no-need-doc, release/2.8.3, release/2.10.1, release/2.9.3, release/2.11
